@charset "utf-8";
#tagscloud {
    width: 230px;
    height: 300px;
    position: relative;
}

#tagscloud a {
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Arial;
    text-decoration: none;
    margin: 0 10px 15px 0;
    line-height: 18px;
    font-size: 12px;
    padding: 1px 5px;
    display: inline-block;
    border-radius: 3px;
}

#tagscloud a.tagc1 {
    background: #eb8787;
    color: #fff;
}

#tagscloud a.tagc2 {
    background: #F16E50;
    color: #fff;
}

#tagscloud a.tagc5 {
    background: #006633;
    color: #fff;
}

#tagscloud a:hover {
    color: #fff;
    background: #0099ff;
}